.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .display {
    width: 100%;
    background-color: #fdfdfd;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .row:not(:last-child) {
    margin-bottom: 5px; /* Add margin between rows */
  }
  
  button {
    width: 75px;
    height: 75px;
    font-size: 24px;
  }
  